<section id="info-pane" class="row text-center info">
  {{ with .Site.Params.intro }}
  <h3 class="intro">{{ . | markdownify }}</h3>
  {{ end }}
  {{ with .Site.Params.description }}
  <h4 class="intro">{{ . | markdownify }}</h4>
  {{ end }}
  {{ with .Site.Params.resume_ru }}
  <h3 class="author">резюме -> <a class="resume" href="{{ . }}">скачать (ru)</a></h3>
  {{ end }}
  
  <p class="excerpt-dark">
    Делаю так, чтобы компания зарабатывала на IT больше, чем тратила. Могу собрать команду, которая регулярно приносит результат, как из существующих сотрудников, так и нанять под ключ с рынка. Превращаю сложные и неопределенные требования в рабочее решение. 
  <br>
  <br>
    Разрабатывал как современные микросервисные проекты по превращению горы данных в персонализированный контент, так и точечные автоматизации для повышения эффективности процессов. Рос из back-end разработчика на Python и постоянно учился общаться с бизнесом на одном языке. Не стеснялся обосновывать и предлагать идеи.
    <br>
    <br>
    Я вам нужен в нескольких вариантах: если нужно решить непонятную продуктовую задачу, собрать команду, которая работает, описать и автоматизировать процессы (где это возможно), превратить невнятные технические слова в бизнес ценность, определить техническую стратегию, влезть руками и сделать "хорошо".
    <br>
    <br>
    {{ with .Site.Params.social.telegram}}
    Пишите в telegram: <a href="https://t.me/{{.}}" aria-label="Telegram" target="_blank"><i class="fab fa-telegram" aria-hidden="true"></i></a>
    {{ end }}
</p>
  
</section>
