<section id="info-pane" class="row text-center info">
  {{ with .Site.Params.intro }}
  <h3 class="intro">{{ . | markdownify }}</h3>
  {{ end }}
  {{ with .Site.Params.description }}
  <h4 class="intro">{{ . | markdownify }}</h4>
  {{ end }}
  <h3>консультирую -> <a class="resume" href="https://getmentor.dev/mentor/aleksandr-sapronov-403">GetMentor</a>
    или <a class="resume" href="https://solvery.io/mentor/axsapronov">Solvery</a></h3>
  <h3 class="author">

    {{ with .Site.Params.resume_ru }}
    резюме -> <a class="resume" href="{{ . }}" download="Резюме. Сапронов Александр. IT Manager.pdf">основное
      (2 страницы)</a>
    {{ end }}
    {{ with .Site.Params.resume_long_ru }}
    или <a class="resume" href="{{ . }}" download="Резюме. Сапронов Александр. IT Manager.pdf">подробное (4
      страницы)</a>
    {{ end }}
    <br>ответы на вопросы для рекрутера -> <a class="resume"
      href="https://docs.google.com/document/d/1GR3Rwys3kxlG9Rch2HKe-AK1Hb9nK9eO1I_b9foIOJE/edit?usp=sharing">читать</a>
  </h3>

  <p class="excerpt-dark">
    Делаю, чтобы IT команда приносила больше, чем тратила. Соберу и настройку команду, которая регулярно приносит
    результат, как из существующих сотрудников, так и найму под ключ с рынка. Превращаю сложные и неопределенные
    требования в рабочее решение.
    <br>
    <br>
    Разрабатывал как современные микросервисные проекты по превращению горы данных в персонализированный контент, так
    и
    улучшал процессы команд. Рос из back-end разработчика и знаком с современным
    стэком разработки и поддержки ПО.
    <br>
    <br>
    Я вам нужен если нужно оживить/запустить команду (разработка, devops), к конкретному сроку добиться результата,
    описать и автоматизировать процессы (где это
    возможно), превратить невнятные технические слова в бизнес
    ценность, определить техническую стратегию.
    <br>
    <br>
    {{ with .Site.Params.social.telegram}}
    Пишите в telegram: <a href="https://t.me/{{.}}" aria-label="Telegram" target="_blank"><i class="fab fa-telegram"
        aria-hidden="true"></i> @axsapronov</a> или на email: <a href="mailto:a@sapronov.me" aria-label="Email"><i
        class="fas fa-envelope" aria-hidden="true"></i> a@sapronov.me</a>
    {{ end }}
  </p>

</section>